*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Carentro';
    src: url(../fonts/Carentro\ DEMO.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Magist';
    src: url(../fonts/FANTASY\ MAGIST.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aventa';
    src: url(../fonts/Aventa-LightPERSONALUSEONLY.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pistara';
    src: url(../fonts/Pistara.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container-fluid{
    width: 100%;
    height: 100%;
    display: table;
}

header{
    background-image: url(../img/Kukenan_Roraima_GS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    display: table;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

header h1{
    position: relative;
    font-family: 'Magist';
    font-size: 100px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 10px;
    margin-bottom: 0;
    padding-top: 150px;
}

header h5{
    position: relative;
    font-family: 'Pistara';
    font-size: 30px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 10px;
}

header nav ul{
    position: relative;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    margin: 30px;
    font-family: 'Aventa';
    font: 300;
    font-size: 18px;
    display: table;
    transition: all 0.3s ease;
}

.nav-link{
    text-decoration: none;
    color: #ffffffcf;
    transition: all 0.3s ease;
}

.nav-link:hover{
    color: #fff;
    transform: scale(1.1);
}

#activa{
    color: #fff;
    background-color: #ffffff2a;
    border-radius: 10px;
    padding-inline: 10px;
}